@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Nav Bar */
  .navigation {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .cart-btn {
    position: relative;
    cursor: pointer;
  }
  .cart-items {
    position: absolute;
    top: 5px;
    right: 150px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
  }

  /* Front page */
  .main {
    min-height: calc(100vh - 60px);
    background: url("./assets/tech-backgroud.jpeg") center/cover no-repeat;
    display: flex;
    color: var(--mainWhite);
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    display: inline-block;
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: black;
    color: var(--mainWhite);
    border: 1px solid black;
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--mainWhite)
  }
  
  /* Shopping site*/
  .container {
    text-align: center;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-weight: bold;
    color: black;
  }
  
  .header {
    color: black;
    background-color: white;
  }
  
  .computers {
    /* background-color: #bccbde; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    padding: 15px;
  }
  
  .computers .card1{
    height: auto;
    background-color: #ffffff;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    width: 300px;
  }
  
  .card1 p {
    color: black;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
  }
  
  .card1 .title {
    font-size: 18px;
    text-align: center;
  }

  .card1 .price{
    font-weight: 600;
    color: green;
  }
  
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }

  .computers:hover .bag-btn {
    transform: translateX(0);
  }